.top{
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: 500;
}
.logos{
    margin: 3rem;
    height: 80%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.top{
    display: flexbox;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.bottom {
    display: flexbox;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.pic{
    height: 9rem;
    width: auto;
    margin: 3rem;
    transition: transform 0.2s ease;
}


.pic:hover{
    transform: scale(1.5);
}