.top{
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: 500;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.picture{
    height: 40rem;
    width: auto;
}
.para{
    height: 20rem;
    width: 50rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}